@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans+Extra+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

:root {
    /* font-size */
    --fs-12: 12px;
    --fs-14: 14px;
    --fs-16: 16px;
    --fs-20: 20px;
    --fs-24: 24px;
    --fs-48: 48px;
    --fs-sm: 23px;
    --fs-md: 40px;
    --fs-lg: 50px;
    --fs-xl: 45px;
    /* color */
    --color-white: white;
    --color-black: black;
}

.heading {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    line-height: 27.95px;
    letter-spacing: -0.759261965751648px;
    color: var(--color-black);
}

.menu-list {
    display: flex;
}

.icon-s {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.icon-s:hover svg path {
    fill: #F14F09;
}

.text-1 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-xl);
    font-weight: 800;
    line-height: 71.76px;
    letter-spacing: -1.2744754552841187px;
    color: var(--color-black);
}

.max-w-729 {
    max-width: 729px;
}

.line-1 {
    left: -40px;
    bottom: -48px;
    transition: all 0.3s ease-in-out;
    animation: 1s line1 infinite;
}

@keyframes line1 {
    0% {
        transform: rotate(180deg);
    }
}

.list-text {
    font-family: "Work Sans", sans-serif;
    font-size: var(--color-black);
    font-weight: 400;
    line-height: 18.77px;
    color: var(--color-black);
}

.sun {
    background: #ECB239;
    width: 87px;
    height: 87px;
    top: 40%;
    right: 3%;
    border-radius: 50%;
    transition: all 1s ease-in-out;
    animation: 8s sun infinite;
}

@keyframes sun {
    0% {
        filter: drop-shadow(0 0 15px #ECB239);
        right: 3%;
    }

    50% {
        background-color: #ec3939;
        filter: drop-shadow(0 0 25px #ec3939);
        right: 50%;
    }

    100% {
        filter: drop-shadow(0 0 15px #ECB239);
        right: 3%;
    }
}

.z-10 {
    z-index: 10;
}

.btn-sunmit,
.btn11 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-20);
    font-weight: 700;
    line-height: 23.46px;
    color: var(--color-white);
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    width: 147px;
    height: 48px;
    border-radius: 30.5px;
    border: 2px solid transparent;
    transition: all 0.3s linear;
}

.btn-sunmit:hover {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    background-clip: text;
    color: transparent;
    border: 2px solid #F14F09;
    box-shadow: 0 0 10px #FD9B2B;
}

.btn11:hover {
    background: linear-gradient(to bottom, #FFFFFF, #ECB239);
    color: #F14F09;
}

.section-1 {
    background-image: url(../image/hero-section-img.png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
}

.section-2 {
    background-image: url(../image/hero-layer.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.about {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    background-clip: text;
    color: transparent;
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-16);
    font-weight: 600;
    line-height: 18.77px;
}

.line-2 {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    width: 44px;
    height: 2px;
    border: 1px;
    display: flex;
}

.text-2 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-md);
    font-weight: 700;
    line-height: 46.92px;
    letter-spacing: -1.2744754552841187px;
    color: var(--color-black);
    text-align: left;
}

.text-2 span {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    background-clip: text;
    color: transparent;
}

.text-3 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-16);
    font-weight: 400;
    line-height: 26.93px;
    color: #4D4D4D;
    text-align: left;
}

.mt-24 {
    margin-top: 24px;
}

.card-1 {
    box-shadow: 0px 4px 66px 0px #0000000A;
    background: var(--color-white);
    padding: 40px 18px;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.card11 {
    transition: all 300ms ease-in-out;
}

.circle1 {
    box-shadow: 0px 4px 17px 0px #FF586E47;
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    width: 87px;
    height: 87px;
    border-radius: 50%;
    place-items: center;
    transition: all 300ms ease-in-out;
}

.card-1:hover .circle1 svg path {
    fill: #F14F09;
}

.card-1:hover .circle1 {
    background: var(--color-white);
    box-shadow: none;
}

.ellipse16 {
    bottom: -100%;
    right: -100%;
    transition: all 300ms ease-in-out;
}

.card-1:hover {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);

    .text-1h {
        color: var(--color-white);
    }

    .ellipse16 {
        bottom: 0%;
        right: 0%;
    }
}

.card11:hover {
    .card-1 {
        transform: translateY(-20px);
    }
}

.fs-24 {
    font-size: var(--fs-24);
}

.w-212 {
    width: 212px;
}

.h-47 {
    height: 47px;
}

.box11 {
    background: #8256F0;
    display: flex;
    width: 15.32px;
    height: 15.32px;
    bottom: 40%;
    left: 5%;
    transform: rotate(30deg);
}

.slider-box {
    box-shadow: 0px 0px 16px #0000000A;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    display: flex !important;
}

.slick-track {
    display: flex !important;
}

.slick-slide {
    height: inherit !important;
    display: flex !important;
}

.slick-slide>div {
    display: flex;
}

.slick-slider {
    margin: 0 -15px;
}

.slick-slide {
    background-color: var(--color-white);
    padding: 10px;
    text-align: center;
    margin: 15px;
}

.plus {
    position: absolute;
    top: 25%;
    right: 20%;
}

.box-01 {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 27px 0px;
}

.switch {
    width: 77.16px;
    height: 34.72px;
    border-radius: 19.29px;
    background-color: var(--color-white);
    transition: all 4s ease-in-out;
    padding: 0px 5px;
    justify-content: start;
    cursor: pointer;
}

.slider-btn {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    width: 27.01px;
    height: 27.01px;
    display: flex;
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
}

.btn-right {
    transform: translateX(145%);
}

.text-4 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-20);
    font-weight: 600;
    line-height: 30.76px;
    color: var(--color-white);
}

.card {
    border: none;
    box-shadow: 0px 6px 12px 0px #0000000F;
    background-color: var(--color-white);
}

.fs-20 {
    font-size: var(--fs-20);
}

.icon-tick {
    display: none;
}

.btn-avtive1 {
    .icon-tick {
        display: flex;
    }

    .icon-cross {
        display: none;
    }
}

.box-12 {
    background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
    padding: 41px 21px;
    border-radius: 10px;
}

.diamond {
    box-shadow: 0px 3.53px 8.82px 0px #3537D108;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--color-white);
    display: grid;
    place-items: center;
}

.text-5 {
    font-family: "Work Sans", sans-serif;
    font-size: var(--fs-14);
    font-weight: 500;
    line-height: 16.42px;
    color: var(--color-white);
}

.text-up {
    top: 20px;
}

.pr-51 {
    padding-right: 51px;
}

.year {
    display: none;
}

.year11 {
    .year {
        display: flex;
    }

    .month {
        display: none;
    }

    .pr-38 {
        padding-right: 38px;
    }
}

.input-1 {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    padding: 10px 0px;
    resize: none;
}

.fs-14 {
    font-size: var(--fs-14);
}

.max-w-375 {
    max-width: 375px;
}

.bottom-line {
    width: 100%;
    height: 2px;
    background-color: #404040;
    display: flex;
}

.color-b2 {
    color: #B2B2B2;
}

.fs-12 {
    font-size: var(--fs-12);
}

.fs-40 {
    font-size: var(--fs-md);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-48 {
    font-size: var(--fs-48);
}

.color-white {
    color: var(--color-white);
}

::-webkit-scrollbar {
    display: none;
}

.menu-list {
    position: absolute;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 0%;
    right: 0%;
    background: #8256F0;
    z-index: 15 !important;
}

@media (min-width:768px) {
    .fs-md-20 {
        font-size: var(--fs-20);
    }

    :root {
        /* font-size */
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-48: 48px;
        --fs-sm: 23px;
        --fs-md: 40px;
        --fs-lg: 50px;
        --fs-xl: 61px;
        /* color */
        --color-white: white;
        --color-black: black;
    }

    .fs-md-20 {
        font-size: var(--fs-20);
    }

    .fs-md-48 {
        font-size: var(--fs-48);
    }
}

@media (min-width:992px) {
    .prev {
        background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        top: 50%;
        left: -40px;
    }

    .next {
        background: linear-gradient(96.64deg, #FD9B2B 13.58%, #F14F09 86.99%);
        width: 30px;
        height: 30px;
        display: grid;
        place-items: center;
        border-radius: 50%;
        cursor: pointer;
        top: 50%;
        right: -40px;
    }

    :root {
        /* font-size */
        --fs-14: 14px;
        --fs-16: 16px;
        --fs-20: 20px;
        --fs-24: 24px;
        --fs-48: 48px;
        --fs-sm: 23px;
        --fs-md: 40px;
        --fs-lg: 50px;
        --fs-xl: 61px;
        /* color */
        --color-white: white;
        --color-black: black;
    }

    .menu-list {
        position: relative;
        width: fit-content;
        height: fit-content;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 0%;
        right: 0%;
        background: transparent;
        z-index: 15 !important;
    }
}

@media (min-width:1440px) {
    .prev {
        top: 50%;
        left: -60px;
    }

    .next {
        top: 50%;
        right: -60px;
    }
}